<div class="row d-flex justify-content-center align-items-center h-100" style="max-width: 100%; margin: auto;">
    <div class="card bg-dark text-white col-11 col-md-8 col-lg-6 col-xl-5 mt-3" style="border-radius: 1rem;">
        <div class="mb-md-1 mt-md-4 pb-2">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <div class="mb-md-1 mt-md-4 pb-2">
                        <div class="alert alert-success" *ngIf="sigInSuccess">
                            Création du compte réussite
                        </div>
                        <div class="alert alert-danger" *ngIf="error">
                            Impossible veuillez trouver un autre nom d'utilisateur car celui-ci existe déjà
                        </div>
                        <h2 class="fw-bold mb-2 text-uppercase">Création de compte</h2>
                        <p class="text-white-50 mt-5">Entrez votre nom d'utilisateur</p>
                        <div class="form-outline form-white mb-4">
                            <input type="texte" [(ngModel)]="user.login" id="texte"
                                class="form-control form-control-lg" />
                        </div>
                        <p class="text-white-50">Entrez votre mot de passe</p>
                        <div class="form-outline form-white mb-4">
                            <input type="password" [(ngModel)]="user.password" id="typePasswordX" class="form-control 
    form-control-lg" />
                        </div>
                        <button class="btn btn-outline-light btn-lg px-5 mb-2" type="submit"
                            (click)='submit()'>Enregistrez-vous</button>
                        <p class="mb-0">Vous avez déjà un compte ? <a href="/"
                                class="text-white-50 fw-bold">Connectez-vous</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>